*{
  margin: 0; padding: 0; box-sizing: border-box;
}

header{
  width: 100%; height: 100vh;
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('poster_4.png');
  background-repeat: no-repeat;
  background-size: cover;

}

.search-box{
  position: absolute;
  top: 4%; left: 35%;
  transform: translate(-50%,-50%);
  background: #2f3640;
  height: 6vh;
  border-radius: 10px;
  padding: 5px;
}

.search-box:hover > .search-txt{
  width: 240px;
  padding: 0 6px;
}

.search-btn{
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
}

nav{
  width: 100%; height: 6vh;
  background-color: rgba(0,0,0,0.2); color: red;
  display: flex; justify-content: space-between;
  align-items: center;text-transform: uppercase;
}

nav .logo{
  width: 25%; text-align: center;
  justify-content: space-around;
}

nav .menu{
  width: 53%; display: flex; justify-content: space-around;
}

nav .menu a{
  text-decoration: none; color: white;
  font-weight: bold;
}

nav .menu a:first-child{
  color: #00b894;
}

main{
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section h3{
  font-size: 35px; font-weight: 200; letter-spacing: 3px;
  text-shadow: 1px 1px 2px black;
}

section h1{
  margin: 30px 0 20px 0;
  font-size: 55px;
  font-weight: 700;
  text-shadow: 2px 1px 5px black;
  text-transform: uppercase;
  color: white;
}

section p{
  font-size: 25px;
  color: #eee;
  word-spacing: 2px;
  margin-bottom: 25px;
  text-shadow: 1px 1px 1px black;
}

section a{
  padding: 12px 30px;
  border-radius: 4px;
  outline: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all .5s ease;
}

section .btnone{
  background: #fff;
  color: #000;
}

.btnone:hover{
  background: #00b894;
  color: white;
}

section .btntwo{
  background: #00b894;
  color: white;
}

.btntwo:hover{
  background: #fff;
  color: #000;
}

.change_content:after{
  content: "";
  animation-name: changetext;
  animation-duration: 20s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  color: #00b894;
}

@keyframes changetext {
  0%{content: "One Piece";}
  10%{content:"Shingeki no Kyojin";}
  20%{content:"Shokugeki no Soma";}
  30%{content:"Bleach";}
  40%{content:"CodeGeas";}
  50%{content:"Black clover";}
  60%{content:"Boku no Hero Academia";}
  70%{content:"Dr Stone";}
  80%{content:"OnePunch Man";}
  90%{content:"Tower of God";}
  100%{content:"Bokutachi wa Benkyou ga Dekinai";}
}
